{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a href="mailto:imanrahgozar1376@gmail.com" class="contact__link">imanrahgozar1376@gmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a href="https://github.com/imanr76" class="contact__link">@imanr76</a>
            </dd>
        </div>
        <div class="contact">
            <dt>Linkedin:</dt>
            <dd class="contact__details">
                <a href="https://www.linkedin.com/in/iman-rahgozar-b9b55b167/" class="contact__link">Iman Rahgozar</a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}